@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.imagem-carrosel{
    object-fit: cover;
    height: 400px;
    object-position: 0 20%;
}

.imagem-carrosel-2{
    object-fit: cover;
    height: 400px;
    object-position: 0 ;
}

.imagem-carrosel-3{
    object-fit: cover;
    height: 400px;
    object-position: 0 60% 10%;
}

@media only screen and (max-width: 600px) {
    .imagem-carrosel-2{
        object-position: 30% 60%;
    }

    .imagem-carrosel-3{
        object-position: 30% 60%;
    }

  }

.cor-borda{
    border-color: rgb(64, 65, 62);
    border-width: 3px;
    box-shadow: 10px 3px 1px 0px #00000060;
    
}

.modal-open{
    padding: 8px 16px;
    background: royalblue;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}

.modal-open:hover{
    background: #4643f1;
    transition: 0.4s;
}

.Modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    animation: modal-open .5s;
}


.Modal-content{
    background: #fff;
    margin-top: 100px;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
}


.Modal-header{
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    font-size: 26px;
}


.Modal-body{
    padding: 15px 0;
}



.Modal-footer{
    padding: 15px 0;
}

.Modal-footer .Modal-close{
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    background: #4643f1;
}

.Modal-close:hover{
    background-color: #c43838;
    transition: 0.4s;
}

@keyframes modal-open{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



.navbar{
    background-color: #333333;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 500;
    
}



.card{
    height: 320px;
    max-height: 400px;
    background: white;
    color: black;
}


.imagem{
    object-fit: cover;
    height: 150px;
}


html{
    scroll-behavior: smooth;
}


footer{
    background-color: #333333;
    color: white;
    height: auto;
    width: 100%;
    padding-top: 40px;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    line-height: 3rem;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.socials li{
    margin:  5px 10px;
    padding-right: 20px;
    align-items: center;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size: 1.4rem;
    transition: color .4s ease ;
}

.socials a:hover i{
    color: #1a73e8;
}

.footer-bottom{
    background-color: #333333;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}



.nav-link{
    font-weight: bold;
}


.margem-top{
    margin-top: 60px;
}


.margem-concluido{
    margin-top: 200px;
    text-align: center;
    align-items: center;
}


.imagem-fundo{
    background-image: url(/src/images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.caixa {
    padding: 40px;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 3px 1px 0px #00000060;
    display: inline-block;
}

.caixa-sobre{
    padding: 40px;
    width: 700px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 3px 1px 0px #00000060;
    display: inline-block;
}


@media only screen and (max-width: 600px){
    .caixa{
        width: 100%;
    }

    .caixa-sobre{
        width: 100%;
    }



}


.margem-footer{
    margin-top: 150px;
}

.imagem-concluido{
    width: 150px;
    height: 130px;
}


.alinhamento-titulo{
    text-align: center;
    align-items: center;
}

body{
    transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
}

body.dark p {
    color: #fff;
}

body.dark h1 {
    color: #fff;
}

body.dark h2{
    color: #fff;
}

body.dark .caixa{
    background: #292C35;
    color: #fff;
}

body.dark .Modal-header p{
    color: #fff;
}

body.dark .Modal-body p{
    color: #fff;
}

body.dark .card{
    background-color: #292C35;
    color: #fff;
}

body.dark .Modal-content{
    background-color: #333333;
}





.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.margem{
    padding: 20px;
}